<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建第一个 Vue 应用</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.3/vue-resource.min.js"></script>
    <link rel="stylesheet" href="css/cart.css">
</head>
<body>
    <div id="app">
        
        <h1>{{ message }}</h1>
        <div class="container">
        	<div class="cart">
        		<div class="checkout-title">
        			<span>购物车</span>
        		</div>

        		<div class="item-list-wrap">
        			<div class="cart-item">
        				<div class="cart-item-head">
        					<ul>
        						<li>商品信息</li>
        						<li>商品金额</li>
        						<li>商品数量</li>
        						<li>总金额</li>
        						<li>编辑</li>
        					</ul>
        				</div>
        				<ul class="cart-item-list">
        					<li v-for="(item,index) in productList">
                                <div class="cart-tab-1">
                                    <div class="cart-item-check">
                                        <a href="javascript:;" class="item-check-btn" :class="{'selectme':item.checked}"
                                        @click="selectItem(item)">选择</a>
                                    </div>
                                    <div class="cart-item-pic">
                                        <img src="" alt="">
                                    </div>
                                    <div class="cart-item-title">
                                        <div class="item-name">{{item.productName}}</div>
                                    </div>
                                    <div class="item-include">
                                        <dl>
                                            <dt>赠送</dt>
                                            <dd v-for="part in item.parts" v-text="part.partsName"></dd>
                                        </dl>
                                    </div>
                                </div> 
                                <div class="cart-tab-2">
                                    <div class="item-price">{{item.productPrice}}</div>
                                </div> 
                                <div class="cart-tab-3">
                                    <div class="item-quantity">
                                        <div class="select-self select-self-open">
                                            <div class="quentity">
                                                <a href="javascript:;" @click="changeMoney(item,-1)">-</a>
                                                <input type="text" value="0" v-model="item.procuctQuentity" disabled>
                                                <a href="javascript:;" @click="changeMoney(item,1)">+</a>
                                            </div>
                                        </div> 
                                        <div class="item-store">{{item.procuctQuentity}}</div>
                                    </div>
                                </div> 
                                <div class="cart-tab-4">
                                    <div class="item-price-total">{{item.productPrice * item.procuctQuentity}}</div>
                                </div>      
                                <div class="cart-tab-5">
                                    <div class="cart-item-opration">
                                        <a href="javascript:;" @click="deleteItem(index)">删除</a>
                                    </div>
                                </div>      
                            </li>
        				</ul>
                        <div class="bottom-item">
                            <a href="javascript:;" @click="checkAll">全选</a>
                            总价:<span class="total-price">{{totalCheckMoney}}</span>
                        </div>
        			</div>
        		</div>
        	</div>
        </div>
        
    </div>

<script>
var vm = new Vue({
    el:'#app',
    data: {
        message:'Hello World!',
        totalMoney: 0,
        productList: [],
        totalCheckMoney:0,
        checkAllFlag:false
    },
    mounted: function(){
        this.$nextTick(function(){
            this.createView();
        })
    },
    methods: {
        createView: function() {
            
            var _this = this;
            this.$http.get("data/cartData.json",{"id":123}).then(function(res){
                _this.productList = res.body.result.list;
                _this.totalMoney = res.body.result.totalMoney;
            })
        },
        changeMoney: function (product,way) {
            if(way>0)
            {
                product.procuctQuentity++;
            }
            else{
                product.procuctQuentity--;
                if(product.procuctQuentity<1){
                    product.procuctQuentity=1;
                }
            }
            this.calcTotalPrice();
        },
        deleteItem: function(index) {
            this.productList.splice(index,1);
            this.calcTotalPrice();
        },
        selectItem: function(item) {
            if(typeof item.checked == "undefined") {
                this.$set(item,"checked",false)
            } 
            item.checked = !item.checked
            this.calcTotalPrice();
        },
        checkAll: function() {
            var _this = this;

            var checkAllFlag = this.checkAllFlag;

            if(checkAllFlag) {
                this.productList.forEach(function(item,index){
                    _this.$set(item,"checked",false)
                });
                this.checkAllFlag =! this.checkAllFlag
            }else{
                this.productList.forEach(function(item,index){
                    _this.$set(item,"checked",true)
                });
                this.checkAllFlag =! this.checkAllFlag
            }
            
            this.calcTotalPrice();
        },
        calcTotalPrice: function() {
            var _this = this;
            this.totalCheckMoney = 0;
            this.productList.forEach(function(item,index){
                if(item.checked) {
                    _this.totalCheckMoney += item.productPrice * item.procuctQuentity
                }
            })
     
        }
        

    },

});

</script>
</body>
</html>